/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
:root { /*SE UTILIZA PARA DEFINIRLE DENTRO LAS VARIABLES CSS*/
    /*PALETTES COLORS*/
    --primary-solid: #5a1313;
    --primary-900: rgba(48, 3, 3, 0.9);
    --primary-500: rgb(255, 51, 51, 0.5);
    --primary-300: rgb(255, 51, 51, 0.3);

    --secondary-solid: #1D84b5;
    --secondary-900: rgb(29, 132, 181, 0.9);
    --secondary-500: rgb(29, 132, 181, 0.5);
    --secondary-300: rgb(29, 132, 181, 0.3);

    --dark-solid: #1f1f1f;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343f;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #FFFFFF;

    /*typography*/
    --base-font:'Inter', sans-serif;
    --alternative-font: 'Raleway', sans-serif;

    /*fontsizes*/
   
  /* Font-sizes */
  --font-display: 4.6em;
  --font-jumbo: 3.8em;
  --font-xlarge: 3em;
  --font-large: 2.4em;
  --font-medium: 1.8em;
  --font-small: 1.6em;
  --font-xsmall: 1.4em;

  /* Spacings */
  --spacing-128: 12.8em;
  --spacing-68: 6.8em;
  --spacing-36: 3.6em;
  --spacing-28: 2.8em;
  --spacing-24: 2.4em;
  --spacing-20: 2em;
  --spacing-16: 1.6em;
  --spacing-12: 1.2em;
  --spacing-8: 0.8em;
}

body{
  height: 100%; 
  font-family: 'Noto Sans', sans-serif;
  background-color: var(--light-bg-solid); 
}


.contact_form{  
  width: 460px; 
  height: auto;
  margin: 80px auto;
  border-radius: 10px;  
  padding-top: 30px;
  padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
  background-color: #fbfbfb; 
  width: 408px; 
  height: 40px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color:var(--dark-bg-solid); 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
  width: 405px; 
  height: 150px; 
  border-radius: 5px;  
  border-style: solid; 
  border-width: 1px; 
  border-color:var(--dark-bg-solid) ; 
  margin-top: 10px;  
  padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
  float: center;  
}


button{
  height: 45px; 
  padding-left: 5px;
  padding-right: 5px;   
  margin-bottom: 20px; 
  margin-top: 10px;   
  text-transform: uppercase;
  background-color: var(--dark-bg-solid); 
  border-color:var(--dark-bg-solid); 
  border-style: solid; 
  border-radius: 10px;  
  width: 420px;   
  cursor: pointer;
}


button p{
  color: #fff; 
}


span{
  color: var(--secondary-solid); 
}


.aviso{
  font-size: 13px;  
  color: #0e0e0e;  
}


h1{
  font-size: 39px;  
  text-align: letf; 
  padding-bottom: 20px; 
  color:var(--dark-bg-solid);
}


h3{
  font-size: 16px; 
  padding-bottom: 30px;
  color: var(--dark-solid);   
}


p{
  font-size: 14px; 
  color: var(--dark-solid); 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
  outline:0;
  border: 1px solid var(--secondary-300);
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid var(--secondary-300);
}